SKYCEIL_HOST=0.0.0.0
SKYCEIL_PORT=4100
SKYCEIL_PROVIDER=mock
SKYCEIL_USER_LAT=37.7749
SKYCEIL_USER_LON=-122.4194
SKYCEIL_RADIUS_KM=200
SKYCEIL_POLL_INTERVAL_MS=5000
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
VITE_SKYCEIL_API_URL=
